*{
    margin:0;
    padding:0;
}
body{
    background: white;
}
header, .main{
    width:90%;
    margin: 0px auto;
    max-width: 1000px;
}
header nav{
    background: black;
    overflow: hidden;   
}
header nav ul{
    list-style: none;
}
header nav ul li{
    float: left;
}
header nav ul li a{  
    text-decoration: none;
    display: block;
    color: white;
    padding: 0px 10px;
    font-family: monospace;
    font-size: 20px; 
}
header nav ul li a:hover{
    background: red;
    color: white;
}
.main{
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    margin-inline-end: 70px;
    float:right;  
    width: 60%;
    padding-top: 150px;  
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: lighter;
}
.logo{
    float: right;
}
.modelo{
    width:90%;
    margin: 11px;
    max-width: 1000px;
}
.p .modelo{
    display: flex;
    flex-direction: column-reverse;
    text-align: justify;
}
.imagen{
    margin-right: 13%;
}
footer{
    margin-left: 100px;
    padding-top: 150px;
    display: flex;
    justify-content: center;
    
}
@media (max-width:1023px){
    .logo{
        visibility: hidden; 
    }
    header nav{
        width: 100vw;
        align-items: center;
    }
    footer{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 60px 60px 0px 60px;
    }
    .texto{
        padding: 10px 0px;
    }
    .container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    }
    .stretch{
    display: flex;
    }
    .main footer{
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .imagen img{
       width: 95vw;
    }
    .modelo{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px;
        width: 95vw;
    }
    @media (max-width:350px){
        .menu li a{
            font-size: 10px;
        }
    }